<table>
    <tr>
      <th>Order Date</th>
      <th>Food</th>
      <th>Estimated Time</th>
      <th>Delivery Status</th>
    </tr>
    {% for order in order_list %}
    <tr>
      <td>{{ order.order_date }}</td>
      <td>
        {% for food in order.orderfood_set.all %}
            {{ food.food_name }}
        {% endfor %}
      </td>
      <td>
        {% if order.estimated_time == -1 %}
            <form method="post" action="{% url 'timeinput' %}">
              <input type="number" name="estimated_time"> min
              <input type="hidden" name="order_id" value="{{ order.id }}">
              <input type="submit" value="Enter Estimation">
            </form>
        {% else %}
            {{ order.estimated_time }} min
        {% endif %}
      </td>
      <td>
        {% if order.deliver_finish == 0 %}
            Ongoing
        {% else %}
            Completed
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>

